<div id="showCard" class="card" style="width: 45rem;">
  <img class="card-img-top" src={{post.image}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.content }}</p>
    <p class="card-text">Type: {{ post.typePost }}</p>
    <p class="card-text">Price range: {{ post.priceRange }}</p>
    <a href="/logged/social/profile" class="btn btn-outline-secondary">Go back</a>
    {{#if myPost}}
      <form action="/logged/post/{{ post._id }}/delete" method="POST">
      <button id="deleteBtn" class="btn btn-outline-secondary">Delete Post</button>
    {{else}}
      </form>
      <a href="/logged/social/profile/{{ post.postedBy._id }}">{{ post.postedBy.name }}</a>
      </div>
    {{/if}}
</div>
