
<div id="main-container" class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 bd-highlight">
      <p><strong>{{ user.name }}</strong></p>  
      <img class="profile-foto rounded-circle" src={{ user.profilePic }}>  
  </div>
  <div id="btn-container" class="p-2 bd-highlight">
      {{#if userProf}}
      <a href="/logged/social/update"><button class="btn btn-outline-secondary">Settings</button></a>
      {{/if}}        
      <a href="/logged/social/map"><button class="btn btn-outline-secondary">Map</button></a>
      <a href="/logged/social/friends"><button class="btn btn-outline-secondary">Friends</button></a>  
  </div>
  <div id="description-container" class="p-2 bd-highlight">
      <p id="description" class="align-middle"> <strong>Profile Description:</strong> <br>{{ user.description }}</p>
  </div>
  
</div>
<div class="row row-cols-1 row-cols-md-3">
  {{#each posts}} 
  <div class="col mb-4">
    <div class="card profileCard">
      <img src={{ image }} class="card-img-top user-post" alt="...">
      <div id="cardPost" class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <p class="card-text">{{ content }}</p>
        <a href="/logged/post/{{ _id }}" class="btn btn-outline-secondary">Go to Post</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>

{{#if showButton}}
    <a href="/logged/social/profile/{{ _idOther }}/addFriend">Add Friend</a>
{{/if}}

<script>

Handlebars.registerHelper('dotdotdot', function(str) {
  if (str.length > 40)
    return str.substring(0,40) + '...';
  return str;
});

</script>





  