<h1>Page show post</h1>
 
 <p>Title: {{ post.title }}</p>
 <p>Discription : {{ post.content }}</p>
 <p>Type: {{ post.typePost }}</p>
 <p>Price Range: {{ post.priceRange }}</p>
{{#if myPost}}
<form action="/logged/post/{{ post._id }}/delete" method="POST">
    <button class="btn btn-outline-secondary">Delect Post</button>
</form>
{{else}}
  <a href="/logged/social/profile/{{ post.postedBy }}"> Posted By: </a>
{{/if}}
 <img src={{post.image}}>